<form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Mail</mat-label>
      <input matInput formControlName="mail" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Cursos</mat-label>
      <mat-select formControlName="cursoId" required>
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div *ngIf="isAdmin">
      <mat-form-field>
        <mat-label>Usuario ID</mat-label>
        <input matInput formControlName="usuarioId" required>
      </mat-form-field>
    </div>
  
    <button mat-raised-button color="primary" type="submit">Registrar</button>
  </form>