<p *ngIf="(state$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

<ng-template #ifNotLoading>
  
  <button (click)="crearInscripcion()" type="button" mat-button >Crear inscripcion</button>

  <ul>
    <li *ngFor="let inscripcion of (state$ | async)?.inscripciones">
      {{ inscripcion.alumnos.nombre + ' ' + inscripcion.alumnos.apellido + ' - ' + inscripcion.cursos.nombre }}
      <button (click)="eliminarInscripcionPorId(inscripcion.id)" mat-icon-button color="warn" type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</ng-template>
