<!-- <section>
  <div
    [ngClass]="estaCargando ? 'success' : 'error'"
    [style.font-size]="estaCargando ? '50px':'30px'"
  >
    {{ estaCargando ? "ahora mismo esta cargando" : "no esta cargando" }}
  </div>
</section> -->



<app-tables   [(listaAlumnos)]="listaAlumnos"></app-tables> 


<button class="btn btn-primary" (click)="agregarAlumno()">
  Agregar Alumno
</button>

<app-modalForm
  [(modalVisible)]="modalVisible"
  [(listaAlumnos)]="listaAlumnos"
></app-modalForm>

<app-cards></app-cards>
