<mat-drawer-container class="example-container" autosize>
  <mat-drawer #sidenav class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="link.path" *ngFor="let link of links">
        <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
        {{ link.title }}</a
      >
      <a mat-list-item [routerLink]="'usuarios'" *ngIf="condicion">
        <mat-icon>manage_accounts</mat-icon>
        Usuarios
      </a>
      <a mat-list-item [routerLink]="'inscriptions'" >
        <mat-icon>app_registration</mat-icon>
        Inscripciones
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-contenido></app-contenido>
  </div>
</mat-drawer-container>
