<header>
  <p>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="clickMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Gestion</span>
      <span class="example-spacer">&nbsp; </span>

      <span> Es produccion?:&nbsp;{{ isProd }}</span>
      <span class="example-spacer"></span>
     
      

      <div *ngIf="userAuth; else notAuth">
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
        <span>Bienvenido&nbsp;{{ userAuth.nombre }}</span>
      </div>
      <ng-template #notAuth>
        <button mat-icon-button (click)="openLogin()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="openRegister()">Registrarte</button>
      </ng-template>
    </mat-toolbar>
  </p>
</header>
