:root {
  --toolbar-height: 64px;
  --sidebar-width: 230px;
}
*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  height: var(--toolbar-height);
  width: 100%;
 
}




.table-success {
  background-color: green;
}

.table-fail{
  background-color: red;
}


.overlay-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

form {
  height: 600px;
  width: 400px;
}

.example-container {
  
  height: calc(100vh - var(--toolbar-height));
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
 
  height: 100%;
  width: 100%;
  padding: 3em;
}

.example-sidenav {
  padding: 1em;
}

.container.auth.login,
.container.auth.register{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}