<form [formGroup]="registerForm">
  
  
  <mat-form-field class="mb-3 w-100">
    <mat-label  class="form-label">Nombre</mat-label>
    <input matInput formControlName="nombre" type="text" />


  </mat-form-field>

  <mat-form-field class="mb-3 w-100">
    <mat-label class="form-label"
      >Fecha fin</mat-label
    >
    <input matInput formControlName="fecha_fin" type="date" />
  
  </mat-form-field>

  <mat-form-field class="mb-3 w-100">
    <mat-label class="form-label"
      >Fecha Inicio</mat-label
    >
    <input matInput formControlName="fecha_inicio" type="date"/>
  
  </mat-form-field>


  <div mat-dialog-action class="row w-100 d-flex gap-4">
    <button mat-button (click)="update()">Submit</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
  </div>
</form>
